@font-face {
  font-family: "iconfont"; /* Project id 2720060 */
  src: url('../assets/font/iconfont.woff2') format('woff2'),
        url('../assets/font/iconfont.woff') format('woff'),
        url('../assets/font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuilongtou:before {
  content: "\e6ff";
}

.icon-xuexiao:before {
  content: "\e659";
}

.icon-shangxiaqiehuan:before {
  content: "\e7eb";
}

.icon-cuowu:before {
  content: "\e603";
}

.icon-bianji:before {
  content: "\e630";
}

.icon-right-arr:before {
  content: "\e629";
}

.icon-left-arr:before {
  content: "\e602";
}

.icon-transfers:before {
  content: "\e67f";
}

.icon-link:before {
  content: "\e617";
}

.icon-Group-:before {
  content: "\e68b";
}

.icon-wenhao:before {
  content: "\e64e";
}

