// 覆盖vant-ui部分不合乎需求的样式
.van-nav-bar__content{
  background-color: #140B32;
}

.menu-popup.van-popup {
  background-color: #140B32;
  width: calc(100% - 6rem);
  height: 100%;
}

.wallet-popup.van-popup {
  width: 100%;
  height: 100%;
  background-color: #140B32;
}

// 覆盖vant-ui dropmenu的样式
.derify-dropmenu {
  .van-dropdown-menu__bar {
    box-shadow: none;
    border: .1rem solid rgba(255,255,255,0.15);
    border-radius: 2.2rem;
  }
  &.no-border {
    .van-dropdown-menu__bar {
      border: none;
      height: 4.2rem;
    }
  }
  .van-dropdown-menu__title {
    width: 100%;
    justify-content: space-between;
    padding: 0 1.6rem;
    .van-ellipsis {
      width: 100%;
      .derify-dropmenu-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .van-dropdown-menu__title::after {
    display: none;
  }
  .van-dropdown-menu__title--down::after {
    display: none;
  }
  .van-dropdown-item__content {
    border-radius: .5rem;
    margin-top: 4px;
    background-color: #343166;
    width: calc(100% - 3.2rem);
    left: 1.6rem;
    .van-cell {
      background-color: #343166;
      font-size: 1.5rem;
      .van-cell__value {
        display: none;
      }
    }
    .van-cell::after {
      display: none;
    }
  }
}
// 弹框覆盖
.derify-dropmenus {
  .van-dropdown-menu__bar {
    box-shadow: none;
    // border-radius: 2.2rem;
    padding-bottom: 1.4rem;
    border-bottom: .1rem solid rgba(255,255,255,0.15);
    margin-top: 4.2rem;
    margin-bottom: .9rem;
  }
  &.no-border {
    .van-dropdown-menu__bar {
      border: none;
      height: 4.2rem;
    }
  }
  .van-dropdown-menu__title {
    width: 100%;
    justify-content: space-between;
    padding: 0 1.6rem;
    .van-ellipsis {
      width: 100%;
      .derify-dropmenu-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .van-dropdown-menu__title::after {
    display: none;
  }
  .van-dropdown-menu__title--down::after {
    display: none;
  }
  .van-dropdown-item__content {
    border-radius: .5rem;
    margin-top: 4px;
    background-color: #343166;
    width: calc(100% - 3.2rem);
    left: 1.6rem;
    .van-cell {
      background-color: #343166;
      font-size: 1.5rem;
      .van-cell__value {
        display: none;
      }
    }
    .van-cell::after {
      display: none;
    }
  }
}
// 覆盖field的样式
.derify-input.van-cell::after {
    display: none;
}
.derify-input.van-cell.no-padding-hor {
  padding: 10px 0;
}

// 自定义popup
.derify-popup.van-popup {
  width: calc(100% - 6rem);
  &.small {
    width: calc(100% - 12rem);
  }
}
